{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    {{#async}}"transform-runtime", {{/async}}
    {{#decorators}}"transform-decorators-legacy", {{/decorators}}
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }]
  ]
}